<nav class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">

			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span> MONGO NEWS
			</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
			</button>

		</div>

		<div class="collapse navbar-collapse" id="bs-collapse-1">

			<ul class="nav navbar-nav navbar-right">

				<li> <a href="/scrape" target="_blank">SCRAPE</a> </li>
				<li> <a href="/kill-articles">DUMP ARTICLES</a> </li>
				<li> <a href="/kill-notes">DUMP NOTES</a> </li>

			</ul>

		</div>

	</div>
</nav>
